.app-layout {
  display: grid;
  width: 100vw;
  height: 100vh;
  /* grid-template-columns: 70% 30%; */
  grid-template-rows: 1fr auto;
}

.left-panel {
  grid-column: 1;
  grid-row: 1;
  border-right: 2px solid black;
  overflow-y: auto;
}

.right-panel {
  grid-column: 3;
  grid-row: 1;
  /* overflow: auto; */
  position: relative;
  background-color: #f0f2f5;
  /* display: flex; */
  justify-content: center;
  align-items: flex-start;
}

.footer {
  grid-column: 1 / span 3;
  height: 13vh;
  grid-row: 2;
  border-top: 2px solid black;
  padding: 10px;
}

.resize-handle:hover {
  background: #3182ce !important;
}
